@use '@styles/_extends';
@use '@styles/_vars' as *;
.container{
  padding-bottom: 7rem;
  [class='section-title']{
    h2{
      line-height: 5.5rem;
      @media only screen and (max-width: 479px) {
        line-height: normal;
      }
    }
    p{
      font-size: 17px;
      line-height: 30px;
      color: #6A6B7C;
    }
  }
  .features{
    padding-bottom: 6rem;
    .item{
      text-align: center;
      margin-bottom: 30px;
      padding: 0 20px;
      @extend %text-cap;
      .icon{
        @extend %pos-rel;
        @extend %d-inline;
        width: 60px;
        height: 60px;
        img{
          object-fit: contain;
        }
      }
      h5{
        font-size: 20px;
        color: #353535;
        font-weight: 700;
        margin: 3rem 0 1.5rem;
      }
      p{
        margin-bottom: 0;
        text-transform: none;
        &::first-letter{
          @extend %text-upper;
        }
      }
    }
  }
  .pic{
    margin-bottom: 5rem;
    img{
      border-radius: 1rem;
      min-width: 100%;
      max-width: 100%;
    }
  }
  .item{
    margin-bottom: 3rem;
    h5{
      font-size: 20px;
      color: #353535;
      font-weight: 700;
      margin-bottom: 15px;
    }
    p{
      margin-bottom: 0;
    }
  }
}